#screen {
  display: flex;
  width: 100vw;
  height: 100vh;
}

#calculator {
  background-color: #CECDD4;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: auto;
  margin: auto;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  #calculator {
    max-width: 600px;
  }
}

.row {
  height: 50px;
  flex-wrap: nowrap;
  margin: 10px 5px;
}

.col-md-3, .col-xs-1 {
  padding: 0 4px;
}

h1 {
  font-size: 30px;
}

#outputscreen {
  text-align: right;
}

#inputscreen {
  background-color: white;
  border-color: black;
  border-width: 1px;
  border-style: solid;
  text-align: right;
}

.btn-primary {
  width: 100%;
  background-color: #B5BEFF;
  border-color: darkblue;
}
